.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column: center-start / center-end;
    margin: 15rem 0;
    grid-gap: 6rem;
    align-items: start;
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 2.5rem;
    row-gap: 1.5rem;

    &__icon {
        height: 4.5rem;
        width: 4.5rem;
        fill: var(--color-primary);
        grid-row: 1 / span 2;
    }

    &__text {
        font-size: 1.7rem;
    }
}