.homes {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem;
}

.home {
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey-light-1);
    position: relative;
    justify-content: space-between;

    &__img {
        width: 100%;
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        fill: var(--color-primary);
    }

    &__name {
        padding: 1rem 3rem;
        width: 80%;
        background-color: var(--color-secondary);
        color: #fff;
        text-align: center;
        font-family: var(--font-display);
        font-size: 1.6rem;
        font-weight: 400;
        margin: 0 auto;
        transform: translateY(-50%);
    }

    &__location {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        row-gap: 2rem;
        margin-bottom: 2rem;
        justify-content: space-between;
    }

    &__location-item {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        padding: .5vw 1vw .5vw 2rem; // vw units prevent price from overlaping

        svg {
            width: 2rem;
            height: 2rem;
            fill: var(--color-primary);
            margin-right: 1rem;
        }
    }

    &__btn {
        justify-self: flex-end;
    }
}